bottle==0.13.4
bottle-websocket==0.2.9
cffi==1.17.1
comtypes==1.4.11
Eel==0.18.2
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
greenlet==3.2.3
importlib_resources==6.5.2
playsound==1.2.2
pycparser==2.22
pyparsing==3.2.3
pypiwin32==223
pyttsx3==2.99
pywin32==311
setuptools==80.9.0
SpeechRecognition==3.14.3
typing_extensions==4.14.1
zope.event==5.1
zope.interface==7.2
